.btn {
  font-size: rem(19px);
  font-weight: bold;
  padding: rem(18px) rem(35px);
  text-transform: uppercase;
  border-radius: rem(100px);
  line-height: 1;
  text-decoration: none;
  border: none;

  

  &--theme--white {
    background: #ffffff;
    color: $darkGreen;

    &:hover {
      color: #ffffff;
      background: $darkGreen;
      transition: 0.2s;
    }
  }

  &--theme--green {
    background: $darkGreen;
    color: #fff;
    

    &:hover {
      color: $darkGreen;
      background: #fff;
      transition: 0.2s;
    }

    
  
  }

  &--theme--slider {
      background: $darkGreen;
      color: #fff;
      
  
      &:hover {
        color: #fff;
        background: #365a49;
        transition: 0.2s;
      }

    }

  &--theme--transparent {
    background: transparent;
    color: #000;
    text-transform: none;

    &:hover {
      color: $darkGreen;
      transition: 0.2s;
    }
  }
}

.form-btn:focus {
  outline: none;
}