$containerWidth: 940px;
$baseFontSize: 18px;


$z-berries: 1;
$z-content: 10;
$z-overlay: 100;

//breakpoints
$tablets: 768px;
$phones: 480px;


//colors
$blue: #61c4d9;
$darkGreen: #0b4d3c;

@import "media";

//z-indexes
$z-fixed-menu:100;

//normalize
@import url('/css/normalize.css');


// setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap');
@import "layout";

//components
@import "hero";
@import "header";
@import "menu";
@import "features";
@import "feature";
@import "btn";
@import "section";
@import "headline";
@import "benefits";
@import "benefit";
@import "benefits-section";
@import "reviews";
@import "interactive-avatar";
@import "reviews-section";
@import "order-section";
@import "form";
@import "radio";
@import "fixed-menu";
@import "map-section";
@import "footer";
@import "socials";
@import "contacts";
@import "phone-number";
@import "hamburger";
@import "fullscreen-menu";
@import "ingredients";
@import "mixins";
@import "slider";
@import "team";
@import "modal";