.order-section {
  background: url("/img/order/pattern.png") center center no-repeat;
  background-size: cover;

   
  
   }

   .order__container:before {
     position: absolute;
    bottom: -15px;
    left: -6%;
    content: url(/img/order/berries-order.png);

    
  
   }
  
.order__container:after {
    content: url(/img/order/leaf-order.png);
    position: absolute;
    bottom: -8px;
    right: -9%;  
    }