.form {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: rem(20px);
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: flex;
  margin-bottom: rem(27px);
}
.form__row:last-child {
  margin-bottom: 0;
}

.form__block {
  flex: 1;
  margin-right: rem(20px);
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: rem(11px) rem(18px);
  border: solid rem(3px) transparent;
}
.form__input--textarea {
  height: rem(180px);
  resize: none;
}
.form__input:focus {
  border-color: #dee2bd;
  outline: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(11px);
}