.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  align-items: center;
  margin-right: rem(23px);

  
  
  &:last-child {
    margin-right: 0;
  }

  &--checkbox {
    margin-bottom: rem(10px);
    .radio__visible {
      border-radius: 0;  

      &:before {
        background: url("./img/order/vector.png") center center no-repeat;
      }
    } 
  }
}

.radio__elem {
  display: none;

  &:checked ~ .radio__visible {
    &::before {
      display: block;
    }
  }
}

.radio__visible {
width: rem(26px);
height: rem(26px);
position: relative;
border-radius: 50%;
background: #fff;
margin-right: rem(9px);

&:before {
  content: "";
  width: rem(14px);
  height: rem(14px);
  background: #365A49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
}